<div id="<%= tweet %>">
  <p>
    <strong>Message:</strong>
    <%= tweet.message %>
  </p>

  <%
=begin%>
 <p>
    <strong>Kind:</strong>
    <%= tweet.kind %>
  </p> 
<%
=end%>

  <p>
    <strong>Likes:</strong>
    <%= tweet.likes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.user_id %>
  </p>

</div>
