<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'feed' %>
    </div>
  </div>
</section>

<%= render 'menu' %>

<% if current_user.present? %>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>  
<% else %>
  <%= link_to 'Sign Up/In', new_user_session_path %>
<% end %>
<body>
</body>


<%
=begin%>
 <div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>  
<%
=end%>
